<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            PSI CALENDAR EVENT TRACKER
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">P.S.I. Boise Events
            </ion-title>
        </ion-toolbar>
    </ion-header>


    <div class="ion-padding">
        <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" (onChange)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'">
        </ion-calendar>
    </div>
</ion-content>